@page "/editsat/{id}"

@using System.Diagnostics

@inject HttpClient http
@inject NavigationManager navigationManager
@inject AppSettingsService appSettingsService

<h2>Edit sat @sat.SatNo</h2>
<hr />
<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input for="Name" class="form-control" @bind="@sat.Name" />
            </div>
            <div class="form-group">
                <label for="Notes" class="control-label">Notes</label>
                <input for="Notes" class="form-control" @bind="@sat.Notes" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <input type="button" class="btn btn-primary" @onclick="@UpdateSat" value="Update" />
            <input type="button" class="btn" @onclick="@Cancel" value="Cancel" />
        </div>
    </div>
</form>

@code {

    [Parameter]
    public string id { get; set; }
    string baseUrl;

    Sat sat = new Sat();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            baseUrl = appSettingsService.GetBaseUrl();
            sat = await http.GetJsonAsync<Sat>(baseUrl + "/api/sats/" + id);
        }
        catch (Exception ex)
        {
            Debug.WriteLine(ex.Message);
        }
    }

    protected async Task UpdateSat()
    {
        try
        {
            await http.PutJsonAsync(baseUrl + "/api/sats/" + id, sat);
            navigationManager.NavigateTo("listsats");
        }
        catch (Exception ex)
        {
            Debug.WriteLine(ex.Message);
        }
    }

    void Cancel()
    {
        navigationManager.NavigateTo("listsats");
    }
}   